* {
  font-size: 18px;
}

main {
    margin: 0.8rem 7rem 0.5rem;
}

.col-sm {
    padding-top: .3rem;
    padding-bottom: .3rem;
    background-color: rgba(181, 206, 220, 0.8);
    border: 1px solid rgba(16, 20, 29, 0.5);
}

.hidden {
  display: none;
}

.card-body {
    padding: 0.5rem;
    background-color: aliceblue;
}

h5.card-title, .h5.card-title {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid grey;
}

p.card-text {
    font-size: 0.75rem;
}

.badge-danger,
.badge-primary {
    min-width: 43px;
}

.main-board-zone {
    min-height: 520px;
}

.row-multi-line .main-board-zone {
    min-height: 270px;
}

.card, .card-body {
    border-radius: 1.5rem;
}

.card-available--clicked-js {
    border: 1px solid rgba(0, 255, 83, 0.9);
    box-shadow: 0 0 20px rgba(0, 255, 83, 0.9);
}

.section-main__board--available-card-clicked-js .main-board-zone:hover {
    border: 2px solid rgba(175, 189, 6, 1);
    box-shadow: 0 0 10px 5px rgba(175, 189, 6, 1);
    cursor: pointer;
}

#section-main__user-cards-list .card {
    cursor: pointer;
}

#section-main__user-cards-change-card-button {
    padding: 0 .2rem;
}

.board-player-zone--player-lose {
    background-color: #65645b;
}

.badge-danger {
    background-color: #ce1616;
}

.badge-primary {
    background-color: #0d45d2;
}

/*[start] redesign active cards */
.row-active-cards .list-group-item:first-child {
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

.row-active-cards .list-group-item:last-child {
    border-bottom-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
}

.row-active-cards .list-group-item {
    font-size: 0.9rem;
    font-weight: 500;
    padding: .25rem 1.25rem;
}

.row-active-cards .col-sm {
    max-width: 70%;
    border: none;
    background-color: inherit;
}

.tooltip-inner {
    font-size: 14px;
}
/*[end] */

/* [start] lobby page style   */
.form-group {
    color: rgb(226, 255, 247);
}

.margin-top-10r {
    margin-top: 10rem;
}
/* [end] */
