div {
    border: 1px solid black;
}

.section-header {
    height: 50px;
    background-color: #EEE8AA; /* palegoldenrod */
}

.section-main-board {
    height: 600px;
    background-color: #FAFAD2; /* lightgoldenrodyellow */
    padding-right: 60px;
}

.section-user-cards {
    height: 200px;
    background-color: #EEE8AA; /* palegoldenrod */
}

.section-game-stat {
    height: 400px;
    width: 250px;
    position: absolute;
    top: 20%;
    right: 15%;
    background-color: #ADFF2F; /* greenyellow */
}

.main-board-player-zone {
    display: inline-block;
    width: 48%;
    height: 280px;
    margin-top: 10px;
    margin-left: 10px;
    vertical-align: top;
}
.available-card-clicked-js .main-board-player-zone:hover {
    box-shadow: 0 0 20px rgba(68, 70, 109, 1);
}

.card-available {
    margin-left: 10px;
    display: inline-block;
    width: 100px;
    height: 40px;
    border: 1px solid black;
    line-height: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: top;
}

.active-card-item {
    width: inherit;
    max-width: 35px;
    display: inline-block;
    height: 35px;
    border-radius: 20px;
    text-align: center;
    border-width: 4px;
    line-height: 35px;
    font-weight: bold;
    margin: 5px;
}