<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Board UI beauty</title>
        <!-- bootstrap style -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- chart style -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
        <!-- background theme - https://codepen.io/amiangie/pen/RRdQAb -->
        <link rel="stylesheet" th:href="@{/css/spacenizer/background-theme-blue.css}">
        <!-- custom style -->
        <link rel="stylesheet" th:href="@{/css/spacenizer/custom-jq.css}">
        <!-- TODO spike background
            <link rel="stylesheet" th:href="@{/css/spacenizer/background-theme.css}">
        -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <div class="stars large" ></div>
        <div class="stars medium"></div>
        <div class="stars small"></div>
        <main>
            <div class="container section-header">
                <div class="row">
                    <div class="col-sm">
                        <div class="section-header__game-status-info">
                            <span>Player amount: </span>
                            <span id="game-stat-player-count">0</span>.
                            <span>Current round: </span>
                            <span id="game-stat-current-round">0</span>.
                            <div id="game-status-info__active-player-wrapper" class="d-none">
                                Current active player: <b id="game-status-info__active-player">Player3</b>
                                <div id="section-header__game-status-info-action-description" style="font-size: 14px; font-weight: bold;"></div>
                            </div>
                            <input type="submit" class="btn btn-secondary d-none" value="Start game"
                                   id="section-header__start-game-button" onclick="CLIENT.startGame()">
                            <div id="section-header__join-wrapper">
                                <div class="row">
                                    <div class="col-8">
                                        <input type="text" id="chat-name" class="form-control form-control-sm " placeholder="Enter a player name">
                                    </div>
                                    <div class="col">
                                        <input type="submit" class="btn btn-secondary " value="Join" onclick="joinToChat();">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm section-header__game-globals">
                        <div class="d-none" id="section-header__game-globals-wrapper">
                            <span>World:</span><br>
                            <span id="section-header__game-globals-cards-default" class="badge badge-warning">No features</span>
                            <div id="section-header__game-globals-cards-list">
                               <!-- fill in by js -->
                            </div>
                            <span id="section-header__game-globals-cards-description" style="font-size: 14px; font-weight: bold;"></span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="section-header__game-resources">
                            <canvas id="myChart" width="300" height="94"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" id="section-main__board">
                <!-- fill in by js logic based on user action -->
            </div>
            <div class="container section-main__user-cards"> <!-- class="section-user-cards" id="section-user-cards"-->
                <div class="row">
                    <div class="col-sm" style="min-height: 44px;">
                        <span id="section-main__user-cards-title"></span> available cards
                        <input type="submit" id="section-main__user-cards-change-card-button" class="btn btn-secondary d-none" value="Change card" onclick="changeAvailableCard();">
                        <input type="submit" id="section-main__user-cards-skip-turn-button" class="btn btn-secondary d-none" value="Skip turn" onclick="skipTurn();">
                    </div>
                </div>
                <div class="row" id="section-main__user-cards-list">
                    <!-- fill in by js logic based on user action -->
                </div>
            </div>

            <!-- jQuery, pie chart, bootstrap-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
            <!-- Custom js -->
            <script type="text/javascript" th:src="@{/js/spacenizer/web-socket-client.js}"></script>
            <script type="text/javascript" th:src="@{/js/spacenizer/main.js}"></script>
            <script type="text/javascript" th:src="@{/js/spacenizer/chart-custom.js}"></script>
        </main>
    </body>
</html>