<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- background theme - https://codepen.io/amiangie/pen/RRdQAb -->
        <link rel="stylesheet" th:href="@{/css/spacenizer/background-theme-blue.css}">
        <!-- custom style -->
        <link rel="stylesheet" th:href="@{/css/spacenizer/landing.css}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
    </head>
    <body class="landing">
        <nav class="navbar navbar-dark bg-dark fixed-top ">
        <a class="navbar-brand" href="#">
            <img src="./png/planet-yellow-circle.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Spacenizer
        </a>

        <div class="collapse navbar-collapse justify-content-center" id="navbar-link-list">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Rule</a>
                </li>
            </ul>
        </div>
        <div class="form-inline my-2 my-lg-0" style="visibility: hidden;">
            <button class="btn btn-secondary btn-ru-eng my-2 my-sm-0" type="submit">РУ</button>
            <button class="btn btn-secondary  my-2 my-sm-0" type="submit">EN</button>
        </div>
    </nav>
        <div class="stars large"></div>
        <div class="stars medium"></div>
        <div class="stars small"></div>
        <main>
            <div class="container-fluid">
                <div class="row justify-content-md-center text-center">
                    <div class="col-sm align-middle" >
                        <img src="./png/planet-blue.png" width="500px" class="align-middle landing-img-planet">
                    </div>
                    <div class="col-sm" >
                        <div class="jumbotron">
                            <h1 class="display-4" th:text="#{landing.welcome.headline}">Welcome!</h1>
                            <p class="lead">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                            <hr class="my-4">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                            <p class="lead">
                                <button class="btn btn-secondary btn-lg" role="button" data-toggle="modal" data-target="#modal-game-with-friend" th:text="#{landing.button.create.game}">Play with friend</button>
                                <button class="btn btn-secondary btn-lg" role="button" data-toggle="modal" data-target="#modal-game-queue" th:text="#{landing.button.search.game}">Join to the queue</button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center text-center">
                    <div class="col-sm" >
                        <div class="jumbotron jumbotron-light-brown">
                            <h1 class="display-4" th:text="#{landing.about.headline}">About the game</h1>
                            <p class="lead">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                            <hr class="my-4">
                            <p th:text="#{landing.about.game.rule.hint}">You can find full description of rules and cards by the following links:</p>
                            <p class="lead">
                                <button class="btn btn-secondary btn-lg" role="button" th:text="#{landing.button.read.rule}">Read rule</button>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm">
                        <img src="./png/planet-light-brown.png" class="landing-img-planet" width="500px">
                    </div>
                </div>
                <div class="row justify-content-md-center text-center">
                    <div class="col-sm" >
                        <img src="./png/planet-red.png" class="landing-img-planet" width="500px">
                    </div>
                    <div class="col-sm">
                        <div class="jumbotron jumbotron-red">
                            <h2 class="display-4" th:text="#{landing.feedback.headline}">Contact us</h2>
                            <p class="lead" th:text="#{landing.feedback.description}">Остались вопросы? У вас есть идея, как можно улучшить 'Spacenizer'? Что-то работает некорректно? Или же вы просто хотите поблагодарить нас?</p>
                            <p class="lead" th:text="#{landing.feedback.additional.description}">Напишите нам! </p>
                            <hr class="my-4">
                            <div class="row justify-content-md-center text-center">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="email" id="feedback-email" class="form-control" aria-describedby="emailHelp" th:placeholder="#{landing.feedback.email.placeholder}">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" id="feedback-message" th:placeholder="#{landing.feedback.message.placeholder}" rows="3"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-check-input" type="checkbox" id="gridCheck">
                                        <label class="form-check-label" for="gridCheck" th:text="#{landing.feedback.personal.data.agreement.label}">
                                            Я даю согласие на обработку персональных данных
                                        </label>
                                    </div>
                                    <a class="btn btn-secondary btn-lg" href="#" role="button" th:text="#{landing.button.feedback}">Submit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg justify-content-md-center">
                <span class="navbar-brand">
                    Spacenizer, 2020. All right reserved.
                </span>
        </nav>
        <!-- Modal With Friend-->
        <div class="modal fade" id="modal-game-with-friend" tabindex="-1" aria-labelledby="modal-game-with-friend-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-game-with-friend-title">Create room</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row justify-content-md-center">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="board-form-login">Username</label>
                                        <input type="email" class="form-control" id="board-form-login" aria-describedby="emailHelp" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <label for="board-name-password">Password</label>
                                        <input type="password" class="form-control" id="board-name-password" placeholder="Password">
                                        <small id="login-password-hint" class="form-text"> Username and password for game creation to play with friends. TO BE REMOVED. </small>
                                    </div>
                                    <div class="form-group">
                                        <label for="board-form-login">Player amount</label>
                                        <input type="email" class="form-control" id="board-form-player-amount" aria-describedby="emailHelp" placeholder="Amount of player">
                                    </div>
                                    <small id="other-hint" class="form-text"> TBD other option if required (like time for action for player and etc.)</small>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="createBoard();">Create</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Join queue-->
        <div class="modal fade" id="modal-game-queue" tabindex="-1" aria-labelledby="modal-game-queue-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-game-queue-title">Join to queue</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        TBD
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Join</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript" th:src="@{/js/spacenizer/web-socket-client.js}"></script>
        <script type="text/javascript" th:src="@{/js/spacenizer/main.js}"></script>
    </body>
</html>